body {
  width: 97vw;
  margin: auto;
  background-color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* NavBar */
.navbar {
  background-color: green;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-radius: 5px;

}
.navh1 {
  color: white;
  font-style: oblique;
  font-size: 3rem;
}

a {
  color: white;
  display: inline-block;
  font-size: large;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
  font-size: x-large;
}
.navlinks {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
}

/* Home */
main.about {
  border: 2px solid lime;
  width: 50vw;
  border-radius: 10% 5px;
  text-align: center;
  font-size: 1.7vw;
  font-weight: 600;
  color: rgb(250, 243, 230);
  margin-left: 2vw;
  margin-top: 40px;
  line-height: 1.2em;
  word-spacing: .3em;
  padding: 5px;
  background-color: rgba(128, 128, 128, .5);
}
.home {
  margin: 0;
  height: 120vh;
  background-image: url(./assets/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.about h2 {
  color: lime;
}

/* Footer */
footer {
  background-color: rgb(31, 30, 30);
  color: wheat;
  padding-bottom: 5px;
}
footer div {
  display: flex;
  justify-content: space-around;
}

footer ul {
  list-style-type: none;
}
footer span {
  color: lime;
}